{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Profil Bilgileri</h1>

    <div class="card">
        <div class="card-header">
            Kullanıcı Detayları
        </div>
        <div class="card-body">
            <p><strong>Kullanıcı Adı:</strong> {{ username }}</p>
            <p><strong>Rol:</strong> {{ role }}</p>
        </div>
    </div>

    <a href="{{ url_for('logout') }}" class="btn btn-danger mt-3">Çıkış Yap</a>
</div>
{% endblock %}
